.progress-bar {
  background-color: #28364f;
}
.progress {
  background-color: #c9c9c98c;
}
.page-link {
  color: #28364f;
}

.page-item.active .page-link {
  background-color: #fff;
  color: #28364f;
}