@media print {
    /* Override javascript inline styles */
    html,
    body {
        overflow: visible !important;
        height: auto !important;
    }

    .fullpage-wrapper {
        height: auto !important;
        transform: none !important;
        transition: none !important;
    }

    .fp-section {
        height: auto !important;
    }

    .fp-slidesContainer {
        width: auto !important;
        transition: none !important;
        transform: none !important;
    }

    .fp-slides,
    .fp-slides * {
        position: static !important;
    }

    .fp-slide {
        width: auto !important;
    }

    .fp-tableCell {height: auto !important;}
    .fp-scrollable {height: auto !important;}
}